# Core functionality - changes here should be rare!
/src/app.py                   @davidrollanAccenture
/src/backend/database.py      @davidrollanAccenture
/src/backend/routers/auth.py  @davidrollanAccenture

# The frontend will need refactored soon to be more object oriented.
/src/static/   @davidrollanAccenture
